<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>

  <div class="Header">
    <div class="gfLogo">
      <a href="/"><img class="gfLogo" src="/imgs/gluten-free-logo.jpg"></a>
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/recipes/new">Add a Recipe</a>
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/recipes">Recipes</a>
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/recipes/">Log Out</a>
    </div>
  </div>
  <hr>
  <h4>
    Edit <%= recipe.name %>
  </h4>

  <form action="/recipes/<%= recipe._id %>?_method=PUT" method="POST">
    <input type="text" name="name" value="<%=recipe.name%>" />
    <br />
    URL: <input type="url" name="urlPath" placeholder="image URL" value=<%=recipe.urlPath %> />
    <textarea name="instructions">
      <%= recipe.instructions %>
    </textarea>
    <script>
      tinymce.init({
        selector: 'textarea',
        plugins: 'a11ychecker advcode casechange export formatpainter image editimage linkchecker autolink lists checklist media mediaembed pageembed permanentpen powerpaste table advtable tableofcontents tinycomments tinymcespellchecker',
        toolbar: 'a11ycheck addcomment showcomments casechange checklist code export formatpainter image editimage pageembed permanentpen table tableofcontents',
        toolbar_mode: 'floating',
        tinycomments_mode: 'embedded',
        tinycomments_author: 'Author name',
        width: 900,
        height: 1800,
        max_image_dimension: 50
      });
    </script>
    <button><a href="/recipes">Cancel</a></button>
    <input type="submit" value="Update Recipe" />
  </form>

</body>

</html>