<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <!-- Header & Nav bar  -->
  <div class="Header">
    <div class="gfLogo">
      <a href="/"><img class="gfLogo" src="/imgs/gluten-free-logo.jpg" /></a>
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/">Home</a>
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/recipes/new">Add a Recipe</a>
    </div>

    <div class="li">
      <a class="mainIndexLi" href="/recipes/">Log Out</a>
    </div>
  </div>
  <hr>
  <ul>

    <!-- Show all recipes on "cards" -->
    <div class="allRecipes">
      <%for (let i=0; i < recipes.length; i++) {%>
        <div class="showRecipes">
          <li>
            <a href="/recipes/<%= recipes[i]._id %>">
              <div class="idxRecipeName">
                <%= recipes[i].name %>
              </div>
              <div class="idxRecipeImg">
                <% if(recipes[i].urlPath) {%>
                  <img class="idxRecipeImg" src=<%=recipes[i].urlPath %>>
                  <%} else {%>
                    <img class="idxRecipeImg" src="/imgs/No_Image_Available.jpg">
                    <% } %>
              </div>

              <!-- Edit and Delete buttons -->
              <div class="idxRecipeEditDel">
                <div>
                  <button class="waves-effect waves-light btn-small"><a class="buttonText"
                      href="/recipes/<%= recipes[i]._id %>/edit">Edit</a></button>
                </div>
                <form action="/recipes/<%= recipes[i]._id %>?_method=DELETE" method="POST">
                  <!-- Delete -->
                  <div><button class="waves-effect waves-light btn-small buttonText" type="submit">Delete</button></div>
                </form>
              </div>
            </a>
          </li>
        </div>
        <%}%>
  </ul>
  </div>
</body>

</html>