<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs') %>
</head>

<body>
  <div class="Header">
    <div class="gfLogo">
      <a href="/"><img class="gfLogo" src="/imgs/gluten-free-logo.jpg" /></a>
    </div>
    <div class="li">
      <a class="mainIndexLi" href="/recipes/new">Add a Recipe</a>
    </div>

    <div class="li">
      <a class="mainIndexLi" href="/recipes/">Log Out</a>
    </div>
  </div>
  <ul>
    <div class="allRecipes">
      <%for (let i=0; i < recipes.length; i++) {%>
        <div class="showRecipes">
          <li>
            <a href="/recipes/<%= recipes[i]._id %>">
              <div class="idxRecipeName">
                <%= recipes[i].name %>
              </div>
              <div class="idxRecipeImg">
                <% if(recipes[i].urlPath) {%>
                  <img src=<%=recipes[i].urlPath %> width="200" height="200">
                  <%} else {%>
                    <img src="/imgs/No_Image_Available.jpg" width="200" height="200">
                    <% } %>
              </div>
              <form class="center-align idxRecipeEditDel" action="/recipes/<%= recipes[i]._id %>?_method=DELETE"
                method="POST">
                <!-- edit -->
                <button class="waves-effect waves-light btn-small"><a class="buttonText"
                    href="/recipes/<%= recipes[i]._id %>/edit">Edit</a></button>
                <!-- Delete -->
                <button class="waves-effect waves-light btn-small buttonText" type="submit">Delete</button>

              </form>
            </a>
          </li>
        </div>
        <%}%>
  </ul>
  </div>
</body>

</html>