<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../partials/head.ejs')%>
</head>

<body>
  <h1>Glute Free Recipes - Search</h1>

  <a href="/recipes/new/">new recipe</a>

  <ul>
    <%for (let i=0; i < recipes.length; i++) {%>
      <li>
        <a href="/recipes/<%=recipes[i]._id%>">
          <%=recipes[i].name%>
            <form action="/recipes/<%= recipes[i]._id %>?_method=DELETE" method="POST">
              <!-- edit -->
              <a href="/recipes/<%= recipes[i]._id %>/edit">Edit</a>
              <input type="submit" value="Delete Recipe" />
            </form>
        </a>
      </li>
      <%}%>
  </ul>

</body>

</html>